<p-toast></p-toast>
<p-card header="Categories" [subheader]="isEditMode ? 'Edit Category' : 'Add Category'">
    <div class="grid">
        <div class=col-12>
            <form [formGroup]="categoryform">
                <div class="p-fluid p-formgrid p-grid">
                  <div class="p-field p-col">
                    <label for="name">Name</label>
                    <input formControlName="name" id="name" type="text" pInputText />
                    <small *ngIf="categoryform.controls.name.invalid && isSubmit" class="p-error">Name is required</small>
                    
                  </div>
                  <div class="p-field p-col">
                    <label for="icon">Icon</label>
                    <input formControlName="icon" id="icon" type="text" pInputText />
                    
                  </div>
       
            <p-button [label]="isEditMode ? 'Edit' : 'Add'" (click)="onSubmit()" ></p-button>
            <p-button styleClass="p-button-secondary p-mr-2" label="Cancel" (click)="onCancel()" ></p-button>
            <div class="p-grid">
                <div class="p-col-12">
                  